.App{
    overflow-x: hidden;
    
}
.bodyContainer{
    /* max-width: 1280px; */
    /* height: 100vh; */
    margin: 0 auto;
}
@media only screen and (max-width:600px){
    .bodyContainer{
        font-size: 14px;
    }
}